# --- Secrets ---
.env

# --- Database ---
tasks.db
*.db

# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Virtual env ---
.venv/
venv/

# --- IDE ---
.vscode/
.idea/

# --- OS ---
.DS_Store
Thumbs.db

# --- Pytest ---
.pytest_cache/

#--- Coverage ---
.coverage
htmlcov/